<div class="main">
    <h1>Contact Info</h1>
    <h2>Contact me at one of the following.</h2>
    <p class = "btn-holder">
        <a class="btn-social" href="mailto:ian@ian3d.com">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a>
        <a class="btn-social" href="https://www.linkedin.com/in/ian-hunter-b2932b6/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a>
    </p>
</div>