<div class="main">
    <h1>Projects</h1>
    <h2>I will be adding projects over time.</h2>
    <p class = "btn-holder">
        <a class="btn-social" href="projects/github">
            <i class="fa fa-github" aria-hidden="true"></i>GitHub Projects</a>
        <a class="btn-social" href="http://codepen.io/ian3d/">
            <i class="fa fa-codepen" aria-hidden="true"></i>CodePen Projects</a>
    </p>
</div>